*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: sans-serif;
  font-family: 'Epilogue', sans-serif;
  font-size: 18px
}
